body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
    background-image: url("/images/login_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

header {
    text-align: center;
    color: rgb(23, 105, 164);
    padding: 30px;
}

.register-container {
    background-image: url("/images/log_bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 320px;
    color: #000;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(23, 105, 164);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #4d4d4d3a;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

button:hover {
    background-color: #4d4d4d7e;
}

.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: rgb(23, 105, 164);
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}
